.add-movie-form > :not(:last-child) {
  margin-right: 10px;
}

.add-movie-input {
  padding: 5px;
}

.add-movie-button {
  cursor: pointer;
  color:black ;
  padding: 5px;
  background-color: #4169e1;
  border-radius: 20px;
  
}
.num-input {
  cursor: pointer;
  border-radius: 2px;
  padding: 5px;
  width: 40px;
  height: auto;
  border-radius: 20px;
  margin-right: 20px;
  -moz-appearance: textfield; /* Pour Firefox */
  appearance: textfield; /* Pour les autres navigateurs */
}

.num-input::-webkit-outer-spin-button,
.num-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Supprime les marges par défaut */
}

.movie-creation-success {
  color: green;
}

.movie-creation-error {
  color: red;
}
