.movies-table,
.movies-table td,
.movies-table th {
  border-collapse: collapse;
  border: 1px solid grey;
}

.movies-table td,
.movies-table th {
  padding: 10px;
}

.delete-movie-button {
  cursor: pointer;
  color: black;
  padding: 5px;
  background-color: rgb(255, 255, 255);
}

.delete-movie-button:hover {
  background-color: red;
}
