.movies-table,
.movies-table td,
.movies-table th {
  border-collapse: collapse;
  border: 1px solid grey;
}

.movies-table td,
.movies-table th {
  padding: 10px;
}

.delete-button {
  cursor: pointer;
  color: white;
  padding: 5px;
}

.delete-button:hover {
  background-color: red;
}
