.add-movie-form > :not(:last-child) {
  margin-right: 10px;
}

.add-movie-input {
  padding: 5px;
}

.add-movie-button {
  cursor: pointer;
  color: black;
  padding: 5px;
}

.addMovie-button{
  color: black;
  background-color: #4169e1;
  border-radius: 20px;
  
}
.addMovie-button:hover {
  background-color: green;
}

.movie-creation-success {
  color: green;
}

.movie-creation-error {
  color: red;
}
