.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  width: auto;
  pointer-events: none;
  mix-blend-mode: multiply;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  width: 200px;
  height: 20px;
}

.textinput {
  width: 300px;
  height: 20px;
}

ul {
  list-style-type: none;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  align-items: stretch;
  align-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
  column-gap: 20px;
}

.flex-item {
  border-radius: 10px;
  background: #282c34;
  padding: 10px;
  width: 200px;
  height: auto;
  margin-top: 10px;
  line-height: 30px;
  color: rgb(255, 211, 211);
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
}

.popular-button {
  cursor: pointer;
  color: white;
  padding: 5px;
  font-size: 20px;
}

.popular-button:hover {
  text-decoration: underline;
}

.best-rated-button {
  cursor: pointer;
  color: white;
  padding: 5px;
  font-size: 20px;
}

.best-rated-button:hover {
  text-decoration: underline;
}

.recommandation-button {
  cursor: pointer;
  color: white;
  padding: 5px;
  font-size: 20px;
}
.recommandation-button:hover {
  text-decoration: underline;
}

.affichage-button{
  display: flex;
}

.affichage_recommandation{
  margin-bottom: 10px;
  margin-left: 20px;
}
.affichage_recommandation p {
  margin-bottom: 10px;
}

.affichage_popular{
  margin-bottom: 10px;
  margin-left: 20px;
}
.affichage_vote{
  margin-bottom: 10px;
  margin-left: 20px;
}